p, h1, h2, h3, h4, h5, h6, a {
    font-family: "Quantico", serif;
    font-weight: 700;
    font-style: normal;
}

.quantico-regular {
    font-family: "Quantico", serif;
    font-weight: 400;
    font-style: normal;
}

.quantico-bold {
    font-family: "Quantico", serif;
    font-weight: 700;
    font-style: normal;
}

.quantico-regular-italic {
    font-family: "Quantico", serif;
    font-weight: 400;
    font-style: italic;
}

.quantico-bold-italic {
    font-family: "Quantico", serif;
    font-weight: 700;
    font-style: italic;
}
