* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    box-sizing: content-box;
    background: #1abc9c;
    color: white;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.titleName {
    height: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: calc(5vh / 3);
    font-size: calc(7vh);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.slider {
    position: absolute;
    top: 0;
    height: 15vh;
    width: 100px;
    background-repeat: no-repeat;
    transform: translateX(0%);
    transition: transform 0.15s, opacity 0.15s, width 0.15s;
    opacity: 0;
}

.navbar {
    display: flex;
    background-color: #333;
}
    .navbar a {
        height: 0px;
        margin: 0px;
        padding: 0px;
        color: white;
        height: 5vh;
        width: calc(100% / 4);
        text-decoration: blink;
        text-align: center;
        font-size: calc(3vh);
        border-left: solid;
        border-right: solid;
        border-left-width: 4px;
        border-right-width: 4px;
        border-color: #EEEBDD;
        transition-duration: 0.03s;

    }

        .navbar a:hover {
            background-color: #ddd;
            border-left-width: 0px;
            border-right-width: 0px;
            transition-duration: 0.03s;
        }

.row {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.side {
    flex: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    flex: 75%;
    background-color: #322C2B;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
