* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    box-sizing: content-box;
    background: #1abc9c;
    color: white;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.titleName {
    height: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: calc(5vh / 3);
    font-size: calc(7vh);
}
/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

    /* Style the navigation bar links */
    .navbar a {
        height: 0px;
        margin: 0px;
        padding: 0px;
        color: white;
        height: 5vh;
        width: calc(100% / 4);
        text-decoration: blink;
        text-align: center;
        font-size: calc(3vh);
        border-left: solid;
        border-right: solid;
        border-left-width: 4px;
        border-right-width: 4px;
        border-color: #EEEBDD;
        transition-duration: 0.03s;
    }

        /* Change color on hover */
        .navbar a:hover {
            background-color: #ddd;
            border-left-width: 0px;
            border-right-width: 0px;
            transition-duration: 0.03s;
        }

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Main column */
.main {
    flex: 75%;
    background-color: #322C2B;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
